---
const { oggUrl, mp3Url } = Astro.props;
---

<div class="">
  <audio controls class="w-full">
    <source src={oggUrl} type="audio/ogg" />
    <source src={mp3Url} type="audio/mpeg" />
    Elemento audio
  </audio>
</div>
