::selection {
  @apply text-gray-900 bg-gray-300 dark:bg-gray-700 dark:text-gray-300;
}

#app-transition-overlay {
  @apply bg-white dark:bg-gray-900
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-gray-900;
}


#__next {
  @apply flex flex-col min-h-screen;
}

.skip-nav {
  @apply absolute px-4 py-2 transition-transform duration-200 transform -translate-y-12 left-1/4 -top-8;
}

*::-webkit-scrollbar {
  /* Barra de desplazamiento de Chromium */
  @apply w-2;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-900;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-900 dark:bg-gray-100;
}


.AppContainer {
  @apply bg-gray-100;
  @apply dark:bg-gray-900;
}

.PageContainer {
  @apply flex flex-col items-start justify-center w-full max-w-full mx-auto mb-16 lg:max-w-2xl;
}

.Title {
  @apply px-4 mb-4 font-sans text-4xl font-medium tracking-tight text-black md:text-4xl;
  @apply dark:text-white;
}

.Subtitle {
  @apply relative block px-4 mb-6 font-sans text-xl text-gray-600;
  @apply dark:text-gray-400;
}

.Subtitle a {
  @apply inline-block mx-1 text-blue-500 underline hover:text-blue-700;
}

.Divider {
  @apply w-full border-t border-gray-200;
  @apply dark:border-gray-800
}

.theme-toggle {
	display: inline-flex;
	align-items: center;
	gap: 0.25em;
	border-radius: 99em;
	background-color: var(--theme-code-inline-bg);
}

.theme-toggle > label:focus-within {
	outline: 2px solid transparent;
	box-shadow: 0 0 0 0.08em var(--theme-accent), 0 0 0 0.12em white;
}

.theme-toggle > label {
	color: var(--theme-code-inline-text);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
}

.theme-toggle .checked {
	color: var(--theme-accent);
	opacity: 1;
}

input[name='theme-toggle'] {
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}



.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply max-w-2xl  mx-auto text-left;
}

.prose h3 {
  @apply md:pr-40 scroll-mt-32;
}

.prose a {
  @apply duration-700 hover:text-blue-500;
}

.prose ul,
.prose ol {
  @apply max-w-xl pl-10 pr-4 md:px-4 mx-auto;
}

.prose.hyphens p {
  hyphens: auto;
}

.prose blockquote {
  @apply max-w-3xl pr-12 mr-auto text-2xl md:pr-24 border-l-0;
  @apply transform translate-x-4 hover:opacity-80 duration-300 select-all;
}

.prose blockquote {
  font-family: 'vollkornVariable';
  font-variation-settings: 'wght' 400;
}

.prose i {
  font-family: 'vollkornVariable';
  font-variation-settings: 'wght' 400;
}

.prose em {
  @apply text-xl;
  font-family: 'vollkornVariable';
  font-variation-settings: 'wght' 400;
}

.prose p {
  @apply max-w-2xl  mx-auto dark:text-white;
}

.prose a.external-link {
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 1px;
  @apply relative inline-block overflow-hidden font-bold;
}

.prose a.external-link::before,
.prose a.external-link::after {
  pointer-events: none;
  backface-visibility: hidden;
  font-smoothing: antialiased;
}

.prose a.external-link::before {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  transition: transform 0.2s;
  transform: translateY(95%);
  @apply bg-blue-500;
}

.prose a.external-link:hover::before,
.prose a.external-link:focus::before {
  transform: translateY(0);
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700 ;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-900;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0 cursor-pointer grayscale-0 hover:grayscale duration-1000 ;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.prose .audioPost {
  @apply fixed bottom-0 top-auto left-0 right-0 lg:sticky z-50 p-2 lg:top-12 lg:bottom-auto w-full max-w-2xl mx-auto ;
}

