.theme-toggle {
  display: inline-flex;
  align-items: center;
  @apply h-6 w-6 absolute right-32 top-3.5 lg:top-0 lg:relative lg:right-0;
  background-color: var(--theme-code-inline-bg);
}

.theme-toggle > label:focus-within {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 0.08em var(--theme-accent), 0 0 0 0.12em white;
}

.theme-toggle > label {
  color: var(--theme-code-inline-text);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  @apply bg-white dark:bg-gray-900
}

.theme-toggle .checked {
  color: var(--theme-accent);
  opacity: 0;
  z-index: 0;
}

input[name="theme-toggle"] {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
