---
import styles from "./Footer.module.css";
const today = new Date();
---

<footer class={styles.Footer}>
  <div class={styles.Grid}>
    <div class={styles.GridItem}>
      <a href="/"> Inicio</a>
      <a href="/traducciones">Traducciones</a>
      <a href="/contacto">Contacto</a>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/santuan/">GitHub</a>
      <p class="font-bold">Realizado en Astro &copy; {today.getFullYear()}</p>
    </div>
  </div>
</footer>
