---
import Layout from "./BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    minutesRead?: string;
  };
}

const {
  content: { title, description, pubDate, minutesRead },
} = Astro.props;
---

<Layout>
  <h1 class="mb-4 font-sans text-3xl text-gray-900 dark:text-white font-medium md:text-4xl">{title}</h1>
  <h2 class="relative block mb-6 font-sans text-xl md:text-xl text-gray-900 dark:text-white">{description}</h2>
  <hr class="w-full my-1 max-w-2xl mx-auto border-t border-gray-300 border-dotted dark:border-gray-600" />
  <div class="flex items-center w-full max-w-2xl mx-auto my-3 justify-start text-gray-800 dark:text-gray-300">
    <div class="flex items-center">
      {pubDate && <time class="capitalize font-caption text-base ">{pubDate}</time>}
    </div>
    <span class="px-4">•</span>
    <div class="text-base font-caption min-w-32 md:mt-0">
      {minutesRead} de lectura
    </div>
  </div>
  <hr class="w-full my-1 max-w-2xl mx-auto border-t border-gray-300 border-dotted dark:border-gray-600" />
  <article class="w-full pb-12 font-serif prose prose-lg lg:prose-xl hyphens dark:prose-invert max-w-none">
    <slot />
  </article>
</Layout>
