---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import '@fontsource/fira-sans';
import '@fontsource/fira-sans/400-italic.css'
import '@fontsource/fira-sans/300-italic.css'
import '@fontsource/fira-sans/300.css'
import '@fontsource/fira-sans/500.css'
import '@fontsource/fira-sans/500-italic.css'
import '@fontsource/fira-sans/600.css'
import '@fontsource/fira-sans/800.css'
import '@fontsource/fira-sans/800-italic.css'
---

<html lang="es">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <main class="flex flex-col justify-center px-4 pt-24 bg-white lg:px-8 dark:bg-gray-900">
      <div class="flex flex-col items-start justify-center w-full max-w-full mx-auto mb-16 lg:max-w-2xl">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>
